<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
    <link rel="stylesheet" href="../styleSheets/style.css">
</head>
<body>
    <div class="w-full h-screen bg-zinc-800 flex items-center flex-col justify-center">
        <h1 class="text-white text-4xl">Chess Game</h1>
        <h2 id="current-turn" class="text-white">Current Turn: White</h2>
        <div id="alert" style="color: red;" class="text-white"></div>
        <div class="h-fit w-fit p-20 bg-black rounded-xl">
            <div class="chessboard "></div>
        </div>
    </div>

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js" integrity="sha512-xRllwz2gdZciIB+AkEbeq+gVhX8VB8XsfqeFbUh+SzHlN96dEduwtTuVuc2u9EROlmW9+yhRlxjif66ORpsgVA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../Javascripts/chessGame.js"></script>

</body>
</html>